		<footer class="bbg__section__full-width bbg__footer dark">
			<div class="bbg__grid__full">

				<div class="bbg__grid">

					<div class="bbg__grid__one-third border-right">
						<h3>About the project</h3>
						<p>{{ site.description_footer }}</p>
					</div><!--

					--><div class="bbg__grid__one-third border-right">
					{% if page.layout == "home" or page.layout == "blank" %}

						<h3>About the BBG</h3>
						<a href="https://www.bbg.gov"><img src="http://internetfreedom.io/img/logo__bbg.png" class="internet-freedom__logo bbg__mugshot" style="border-radius: 0; background-color: #9D1F2A;"></a>
						<p>The Broadcasting Board of Governors oversees five U.S. government-funded civilian broadcast networks in its mission to inform, engage and connect people around the world in support of freedom and democracy. Every week, it reaches more than 278 million listeners, viewers and internet users through those networks.</p>

					{% else %}

						<h3>About {{ site.categories_list[currentCat].namePretty }}</h3>
						<a href="{{ site.categories_list[currentCat].url }}"><img src="{{ site.categories_list[currentCat].logo }}" class="internet-freedom__logo bbg__mugshot" style="border-radius: 0;"></a>
						<p>{{ site.categories_list[currentCat].description }}</p>

					{% endif %}
					</div><!--

					--><!--

					--><div class="bbg__grid__one-third" style="margin-right: 0;">
					{% if page.layout == "home" or page.layout == "blank"  %}
						<h3>Recent BBG headlines</h3>
						<ul id="rssListBBG" class="bbg__rss" style="margin-top: 10px;">
						</ul>
					{% else %}
						<h3>More from {{ site.categories_list[currentCat].namePretty }}</h3>
						<ul id="rssList" class="bbg__rss" style="margin-top: 10px;">
						</ul>
					{% endif %}
					</div>

				</div>
				
			</div>
		</footer><!-- .bbg__footer -->
