

					<div class="bbg__grid__full" style="margin-bottom: 0;">


{% assign featuredTitle = include.titleFeatured %}
{% assign featuredSlug = include.slugFeatured %}
{% assign sorted-posts = site.posts | where: "slug",featuredSlug %}
{% for post in sorted-posts %}

	{% for cat in site.categories_list %}
		{% if cat.name == post.categories.last %}
			{% assign currentCat = cat %}
		{% endif %}
	{% endfor %}


						<a href="{{ site.canonical_url_base }}{{ post.url | relative_url }}">

							<picture>
								<source srcset="{{ post.image | replace: '_w1023', '_w1280_h720'}}" media="(min-width: 1092px)" />
								<source srcset="{{ post.image | replace: '_w1023', '_w740_h740'}}" media="(min-width: 992px)" />
								<source srcset="{{ post.image | replace: '_w1023', '_w740_h420'}}" media="(min-width: 700px)" />
								<source srcset="{{ post.image | replace: '_w1023', '_w640_h640'}}" media="(min-width: 420px)" />
								<img src="{{ post.image | replace: '_w1023', '_w420_h420'}}" style="max-width: none; width: 100%;" />
							</picture>

							<div style="width: 85%; margin: 10px auto 30px auto; text-align: center;">
								<h2 class="balance-text bbg__featured__headline">{%if post.title-homepage %}{{ post.title-homepage }}{% else %}{{ post.title }}{% endif %}</h2>
								<p>{%if post.summary %}{{ post.summary }}{% else %}{{ post.excerpt }}{% endif %}</p>
								<p class="bbg__story__byline">By {{ post.byline }} | {{ currentCat.namePretty }}</p>
							</div>
						</a>




{% endfor %}

					</div><!--
					--><div class="voa__grid__full">
						
						
{% assign counter = 0 %}
{% assign featuredCategory = include.featuredCategory %}
<!--
{% for cat in site.categories_list %}
	{% if cat.name == featuredCategory %}
		{% assign currentCat = cat %}
	{% endif %}
{% endfor %}

{% assign sorted-posts = site.posts | where: "categories",featuredCategory %}
{% for post in sorted-posts limit: 3 %}

	{% if post.slug != featuredSlug and counter < 2 %}

				--><div class="bbg__grid__one-half">

						<div class="">
							<a href="{{ site.canonical_url_base }}{{ post.url | relative_url }}">
								<img src="{{ post.image | replace: '_w1023', '_w640_h360'}}">
								<div class="bbg__story__tertiary__text">
									<h4>{%if post.title-homepage %}{{ post.title-homepage }}{% else %}{{ post.title }}{% endif %}</h4>
									<p>{{ post.excerpt | strip_html }}<span class="bbg__story__byline">({{ currentCat.namePretty }})</span></p>
								</div>
							</a>
						</div>

					</div><!--
		{% assign counter = counter | plus: 1 %}
	{% endif %}

{% endfor %}
-->
					</div>
