
<style type="text/css">

.voa__project {
	color: #333;
	font-family: Arial, sans-serif;
}

.voa__project h1,h2,h3,h4,h5 {
	color: #333;
	margin-top: 0;
}


p:empty {
   display: none;
}

#g-rfa__laos-china-railroad-box h3 {
	margin-bottom: 10px;
}

#g-rfa__laos-china-railroad-box .g-textCountry p{
	font-weight: bold;
}
#g-rfa__laos-china-railroad-box .g-textSubhed p{
	font-size: 18px;
	font-weight: bold;
}

#g-rfa__laos-china-railroad-tiny  {
	display: none;
}

#g-rfa__laos-china-railroad-small  {
	display: none;
}

@media only screen and (max-width: 349px) {
	#g-rfa__laos-china-railroad-mobile  {
		display: block;
	}
}

@media only screen and (min-width: 350px) {
	#g-rfa__laos-china-railroad-mobile  {
		display: none;
	}
	#g-rfa__laos-china-railroad-small  {
		display: block;
	}
}
@media only screen and (min-width: 640px) {
	#g-rfa__laos-china-railroad-tiny  {
		display: block;
	}
	#g-rfa__laos-china-railroad-mobile  {
		display: none;
	}
	#g-rfa__laos-china-railroad-small  {
		display: none;
	}
}


@media only screen and (min-width: 880px) {
	#g-rfa__laos-china-railroad-tiny  {
		display: none;
	}
	#g-rfa__laos-china-railroad-mobile  {
		display: block;
	}
	#g-rfa__laos-china-railroad-small  {
		display: none;
	}
}


@media only screen and (min-width: 1080px) {
	#g-rfa__laos-china-railroad-mobile  {
		display: none;
	}
	#g-rfa__laos-china-railroad-small  {
		display: block;
	}
}



.g-blackbox-text {
	background-color: #000;//#6096B8;
	padding: 10px;
}

.g-blackbox-text p {
	color: #FFF !important;
	font-family: Arial, sans-serif !important;
	font-size: 13px;
	line-height: 1.2 !important;
	text-transform: none;
}

.g-whitebox-text {
	background-color: #FFF;//#6096B8;
	//padding: 20px;
}
.g-whitebox-text h3,
.g-whitebox-text p {
	width: 90% !important;
}

.g-whitebox-text h3 {
	margin: 15px auto 5px auto !important;
	font-family: Arial, sans-serif !important;
	font-weight: bold;
}
.g-whitebox-text p {
	margin: 0 auto 15px auto !important;
}

.t-ai2htmlPage .g-artboard .g-text-city p {
	font-size: 16px !important;
}

.t-ai2htmlPage .g-artboard .g-text-city-large p {
	font-size: 20px !important;
}
	#voa__map__source{background-color: rgba(240,240,240,.7); color: #333; font-size: 12px; padding: 2px 4px; position: absolute; bottom: 0 !important; right: 0 !important; top: auto !important; left: auto !important; width: auto !important;}

.g-text-water-outlined p{
	color: #FFF !important;
    font-size: 16 !important;
    //font-family: Times, serif;
    font-weight: normal;
    font-style: italic !important;
    letter-spacing: 2 !important;
    line-height: 1.1 !important;
    text-shadow: 1px 1px 0px #84a7c1, -1px -1px 0px #84a7c1, 1px -1px 0 #84a7c1, -1px 1px 0px #84a7c1, 1px 1px 0 #84a7c1;
    text-transform: uppercase !important;
}

	</style>



	<div class="voa__project">

		<div class="voa__grid__full" style="background-color: #FFF; margin-bottom: 0; color: #FFF;">

				<div class="t-ai2htmlPage" style="/*max-width: 780px;*/ margin: 0 auto;">
					<div class="g-graphicStub">
						<!-- Generated by ai2html v0.65.5 - 2018-04-24 14:21 -->
<!-- ai file: rfa__laos-china-railroad.ai -->
<style type='text/css' media='screen,print'>
	#g-rfa__laos-china-railroad-box .g-artboard {
		margin:0 auto;
	}
	#g-rfa__laos-china-railroad-box .g-artboard p {
		margin:0;
	}
	.g-aiAbs {
		position:absolute;
	}
	.g-aiImg {
		display:block;
		width:100% !important;
	}
	.g-aiPointText p { white-space: nowrap; }
	#g-rfa__laos-china-railroad-tiny {
		position:relative;
		overflow:hidden;
	}
	#g-rfa__laos-china-railroad-tiny p {
		font-family:arial,helvetica,sans-serif;
		font-size:12px;
		line-height:14px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
	}
	#g-rfa__laos-china-railroad-tiny .g-pstyle0 {
		text-align:center;
	}
	#g-rfa__laos-china-railroad-tiny .g-pstyle1 {
		font-weight:500;
		text-align:center;
	}
	#g-rfa__laos-china-railroad-tiny .g-pstyle2 {
		font-weight:bold;
	}
	#g-rfa__laos-china-railroad-tiny .g-pstyle3 {
		font-weight:bold;
		font-size:20px;
		line-height:24px;
		text-align:right;
		color:rgb(255,0,0);
	}
	#g-rfa__laos-china-railroad-tiny .g-pstyle4 {
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-rfa__laos-china-railroad-tiny .g-pstyle5 {
		color:rgb(255,255,255);
	}
	#g-rfa__laos-china-railroad-tiny .g-cstyle0 {
		font-weight:bold;
	}
	#g-rfa__laos-china-railroad-mobile {
		position:relative;
		overflow:hidden;
	}
	#g-rfa__laos-china-railroad-mobile p {
		font-family:arial,helvetica,sans-serif;
		font-size:12px;
		line-height:14px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
	}
	#g-rfa__laos-china-railroad-mobile .g-pstyle0 {
		text-align:center;
	}
	#g-rfa__laos-china-railroad-mobile .g-pstyle1 {
		font-weight:500;
		text-align:center;
	}
	#g-rfa__laos-china-railroad-mobile .g-pstyle2 {
		font-weight:bold;
	}
	#g-rfa__laos-china-railroad-mobile .g-pstyle3 {
		font-weight:bold;
		font-size:24px;
		line-height:29px;
		text-align:right;
		color:rgb(255,0,0);
	}
	#g-rfa__laos-china-railroad-mobile .g-pstyle4 {
		text-align:right;
		color:rgb(255,255,255);
	}
	#g-rfa__laos-china-railroad-mobile .g-pstyle5 {
		color:rgb(255,255,255);
	}
	#g-rfa__laos-china-railroad-mobile .g-cstyle0 {
		font-weight:bold;
	}
	#g-rfa__laos-china-railroad-small {
		position:relative;
		overflow:hidden;
	}
	#g-rfa__laos-china-railroad-small p {
		font-family:arial,helvetica,sans-serif;
		font-size:12px;
		line-height:14px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		text-align:left;
		color:rgb(0,0,0);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
	}
	#g-rfa__laos-china-railroad-small .g-pstyle0 {
		text-align:center;
	}
	#g-rfa__laos-china-railroad-small .g-pstyle1 {
		font-weight:500;
		text-align:center;
	}
	#g-rfa__laos-china-railroad-small .g-pstyle2 {
		font-weight:bold;
	}
	#g-rfa__laos-china-railroad-small .g-pstyle3 {
		text-align:right;
	}
	#g-rfa__laos-china-railroad-small .g-pstyle4 {
		font-weight:bold;
		font-size:24px;
		line-height:29px;
		text-align:right;
		color:rgb(255,0,0);
	}
	#g-rfa__laos-china-railroad-small .g-pstyle5 {
		color:rgb(255,255,255);
	}
	#g-rfa__laos-china-railroad-small .g-cstyle0 {
		font-weight:bold;
	}

		/* Custom CSS */
				


</style>

<div id="g-rfa__laos-china-railroad-box" class="ai2html">

	<!-- Artboard: tiny -->
	<div id="g-rfa__laos-china-railroad-tiny" class="g-artboard g-artboard-v3" data-min-width='250' data-max-width='274'>
		<img id="g-ai0-0" class="g-aiImg" src="../img/graphic/rfa__laos-china-railroad-tiny.jpg"/>
		<div id="g-ai0-1" class="g-text g-aiAbs" style="top:0.7596%;left:7.7888%;width:84%;">
			<p><h3>The controversial Laos-China Railway</h3></p>
			<p>Work began on the controversial Laos-China railway as crews started clearing the right-of-way in the ancient Lao city of Luang Prabang late December 2016, but questions over who will get the bulk of the jobs building the U.S. $6 billion project and how much people displaced by the construction will get paid still linger.</p>
		</div>
		<div id="g-ai0-2" class="g-textCountry g-aiAbs g-aiPointText" style="top:14.5012%;margin-top:-8.1px;left:17.835%;margin-left:-6.1667%;width:39px;">
			<p class="g-pstyle0">CHINA</p>
		</div>
		<div id="g-ai0-3" class="g-text g-aiAbs g-aiPointText" style="top:16.86%;margin-top:-7.5px;left:20.1619%;margin-left:-5%;width:32px;">
			<p class="g-pstyle1">Boten</p>
		</div>
		<div id="g-ai0-4" class="g-text g-aiAbs g-aiPointText" style="top:21.9129%;margin-top:-7.5px;left:34.4186%;margin-left:-7.8333%;width:49px;">
			<p class="g-pstyle1">Vientiane</p>
		</div>
		<div id="g-ai0-5" class="g-textCountry g-aiAbs g-aiPointText" style="top:22.4273%;margin-top:-8.1px;left:70.778%;margin-left:-5.3333%;width:34px;">
			<p class="g-pstyle0">LAOS</p>
		</div>
		<div id="g-ai0-6" class="g-textCountry g-aiAbs g-aiPointText" style="top:22.8236%;margin-top:-8.1px;left:29.7233%;margin-left:-9.8333%;width:61px;">
			<p class="g-pstyle0">THAILAND</p>
		</div>
		<div id="g-ai0-7" class="g-text g-aiAbs" style="bottom:71.7966%;left:10.1221%;width:55.3333%;">
			<p>The railway is expected to run 420-kilometer (261-mile) through the landlocked country.</p>
		</div>
		<div id="g-ai0-8" class="g-text g-aiAbs" style="top:28.93%;left:10.1221%;width:81.6667%;">
			<p>The original construction plan called for work to begin in 2011 and be completed in 2015. However, due to political and financial setbacks, the plan now calls for the railway to be completed in 2021.</p>
		</div>
		<div id="g-ai0-9" class="g-text g-aiAbs g-aiPointText" style="top:36.7373%;margin-top:-8.4px;left:15.1139%;width:161px;">
			<p class="g-pstyle2">COSTS AND INVESTMENTS</p>
		</div>
		<div id="g-ai0-10" class="g-text g-aiAbs" style="top:37.3844%;left:6.7714%;width:89.3333%;">
			<p>The project was estimated to cost $6 billion</p>
		</div>
		<div id="g-ai0-11" class="g-text g-aiAbs" style="top:39.3329%;left:51.6667%;width:45%;">
			<p>Private investors</p>
		</div>
		<div id="g-ai0-12" class="g-text g-aiAbs g-aiPointText" style="top:39.8066%;margin-top:-14.3px;right:50.603%;width:42px;">
			<p class="g-pstyle3">60%</p>
		</div>
		<div id="g-ai0-13" class="g-text g-aiAbs" style="top:40.6539%;left:51.6667%;width:46%;">
			<p>Laos and China </p>
			<p>contributions</p>
		</div>
		<div id="g-ai0-14" class="g-text g-aiAbs g-aiPointText" style="top:41.1276%;margin-top:-14.3px;right:50.603%;width:42px;">
			<p class="g-pstyle3">40%</p>
		</div>
		<div id="g-ai0-15" class="g-text g-aiAbs" style="top:43.2299%;left:51.6667%;width:46.6667%;">
			<p>The Chinese government&rsquo;s contribution</p>
		</div>
		<div id="g-ai0-16" class="g-text g-aiAbs g-aiPointText" style="top:43.7696%;margin-top:-14.3px;right:51.2697%;width:42px;">
			<p class="g-pstyle3">70%</p>
		</div>
		<div id="g-ai0-17" class="g-text g-aiAbs" style="top:45.5416%;left:51.6667%;width:46.3333%;">
			<p>The Lao government&rsquo;s contribution, amounting to $840 million.</p>
		</div>
		<div id="g-ai0-18" class="g-text g-aiAbs g-aiPointText" style="top:45.9493%;margin-top:-14.3px;right:51.2697%;width:42px;">
			<p class="g-pstyle3">30%</p>
		</div>
		<div id="g-ai0-19" class="g-text g-aiAbs" style="bottom:46.5984%;left:4%;width:93%;">
			<p>If the Lao government can&rsquo;t provide its share, China has agreed to provide a low-interest loan of $500 million.</p>
		</div>
		<div id="g-ai0-20" class="g-text g-aiAbs" style="top:53.7979%;left:21.4554%;width:73%;">
			<p>Revenue to be generated from a bauxite mine and three potash mines in Laos are to be used to secure the Chinese loan.</p>
		</div>
		<div id="g-ai0-21" class="g-text g-aiAbs" style="top:58.5205%;left:21.4554%;width:72.6667%;">
			<p>The 20-year loan period will carry an annual interest rate of 3% with an interest-only period, i.e. no repayment of the principle, for the first five years.</p>
		</div>
		<div id="g-ai0-22" class="g-textSubhed g-aiAbs" style="bottom:34.181%;right:3.9988%;width:38.6667%;">
			<p class="g-pstyle4">Project details</p>
		</div>
		<div id="g-ai0-23" class="g-text g-aiAbs" style="top:66.7437%;left:24.4554%;width:72.3333%;">
			<p class="g-pstyle5">Chairman of Laos-China Railway Company: <span class="g-cstyle0">Huang Difu</span>, general manager of China Railway International Co., Ltd</p>
		</div>
		<div id="g-ai0-24" class="g-text g-aiAbs" style="top:72.5231%;left:21.3333%;width:73.6667%;">
			<p class="g-pstyle5">Six Chinese contractors are carrying out construction in the six segments along the entire track. More than 50,000 mostly Chinese workers will be hired to build the project.</p>
		</div>
		<div id="g-ai0-25" class="g-text g-aiAbs" style="top:78.963%;left:42.4554%;width:52.6667%;">
			<p class="g-pstyle5">The planned single-track, standard- gauge rail network would have 33 stations, of which 21 would be operational initially.</p>
		</div>
		<div id="g-ai0-26" class="g-text g-aiAbs" style="top:86.4267%;left:30.3333%;width:65%;">
			<p class="g-pstyle5">There will be 72 tunnels with a total length of 183.9 km, representing 43 percent of the project&rsquo;s total length.</p>
		</div>
		<div id="g-ai0-27" class="g-text g-aiAbs" style="top:92.8336%;left:47.3333%;width:50%;">
			<p class="g-pstyle5">The line will also have 170 bridges with the total length of 69.2 km, accounting for 15.8 percent of the project&rsquo;s total length.</p>
		</div>
	</div>

	<!-- Artboard: mobile -->
	<div id="g-rfa__laos-china-railroad-mobile" class="g-artboard g-artboard-v3" data-min-width='275' data-max-width='419'>
		<img id="g-ai1-0" class="g-aiImg" src="../img/graphic/rfa__laos-china-railroad-mobile.jpg"/>
		<div id="g-ai1-1" class="g-text g-aiAbs" style="top:0.9965%;left:7.7888%;width:84%;">
			<p><h3>The controversial Laos-China Railway</h3></p>
			<p>Work began on the controversial Laos-China railway as crews started clearing the right-of-way in the ancient Lao city of Luang Prabang late December 2016, but questions over who will get the bulk of the jobs building the U.S. $6 billion project and how much people displaced by the construction will get paid still linger.</p>
		</div>
		<div id="g-ai1-2" class="g-textCountry g-aiAbs g-aiPointText" style="top:11.356%;margin-top:-8.1px;left:14.5016%;margin-left:-6.1667%;width:39px;">
			<p class="g-pstyle0">CHINA</p>
		</div>
		<div id="g-ai1-3" class="g-text g-aiAbs" style="bottom:85.3986%;left:40.1221%;width:49%;">
			<p>Four villas are being built to accommodate Chinese workers near the Xay district station.</p>
		</div>
		<div id="g-ai1-4" class="g-text g-aiAbs g-aiPointText" style="top:15.7505%;margin-top:-7.5px;left:20.1619%;margin-left:-5%;width:32px;">
			<p class="g-pstyle1">Boten</p>
		</div>
		<div id="g-ai1-5" class="g-text g-aiAbs" style="top:18.7175%;margin-top:-68px;left:61.3333%;width:36%;">
			<p class="g-pstyle2">Major stations</p>
			<p>&bull; Luang Namtha</p>
			<p>&bull;&nbsp;Xay district</p>
			<p>&bull;&nbsp;Luang Prabang</p>
			<p>&bull; Vang Vieng</p>
			<p>&bull;&nbsp;Phonhong</p>
		</div>
		<div id="g-ai1-6" class="g-text g-aiAbs g-aiPointText" style="top:22.3796%;margin-top:-7.5px;left:34.4186%;margin-left:-7.8333%;width:49px;">
			<p class="g-pstyle1">Vientiane</p>
		</div>
		<div id="g-ai1-7" class="g-textCountry g-aiAbs g-aiPointText" style="top:23.4444%;margin-top:-8.1px;left:36.7233%;margin-left:-9.8333%;width:61px;">
			<p class="g-pstyle0">THAILAND</p>
		</div>
		<div id="g-ai1-8" class="g-textCountry g-aiAbs g-aiPointText" style="top:23.8777%;margin-top:-8.1px;left:70.778%;margin-left:-5.3333%;width:34px;">
			<p class="g-pstyle0">LAOS</p>
		</div>
		<div id="g-ai1-9" class="g-text g-aiAbs" style="bottom:72.5303%;left:10.1221%;width:49%;">
			<p>The railway is expected to run 420-kilometer (261-mile) through the landlocked country.</p>
		</div>
		<div id="g-ai1-10" class="g-text g-aiAbs" style="top:27.7296%;left:10.1221%;width:58.3333%;">
			<p>The original construction plan called for work to begin in 2011 and be completed in 2015. However, due to political and financial setbacks, the plan now calls for the railway to be completed in 2021.</p>
		</div>
		<div id="g-ai1-11" class="g-textSubhed g-aiAbs g-aiPointText" style="top:38.8257%;margin-top:-8.1px;left:24.7806%;width:27px;">
			<p>Cost</p>
		</div>
		<div id="g-ai1-12" class="g-textSubhed g-aiAbs g-aiPointText" style="top:38.8257%;margin-top:-8.1px;left:58.7806%;width:61px;">
			<p>Investment</p>
		</div>
		<div id="g-ai1-13" class="g-text g-aiAbs" style="top:39.6447%;left:6.4381%;width:89.3333%;">
			<p class="g-pstyle2">The project was estimated to cost $6 billion</p>
		</div>
		<div id="g-ai1-14" class="g-text g-aiAbs" style="top:41.2912%;left:60.1221%;width:34.3333%;">
			<p>Private</p>
			<p>investors</p>
		</div>
		<div id="g-ai1-15" class="g-text g-aiAbs g-aiPointText" style="top:41.9979%;margin-top:-17.3px;right:41.605%;width:50px;">
			<p class="g-pstyle3">60%</p>
		</div>
		<div id="g-ai1-16" class="g-text g-aiAbs" style="top:43.0676%;left:60.7888%;width:37.3333%;">
			<p>Laos and China </p>
			<p>contributions</p>
		</div>
		<div id="g-ai1-17" class="g-text g-aiAbs g-aiPointText" style="top:43.731%;margin-top:-17.3px;right:41.605%;width:50px;">
			<p class="g-pstyle3">40%</p>
		</div>
		<div id="g-ai1-18" class="g-text g-aiAbs g-aiPointText" style="top:46.764%;margin-top:-17.3px;right:41.605%;width:50px;">
			<p class="g-pstyle3">70%</p>
		</div>
		<div id="g-ai1-19" class="g-text g-aiAbs" style="top:46.1872%;left:60.1221%;width:38.3333%;">
			<p>The Chinese government&rsquo;s contribution</p>
		</div>
		<div id="g-ai1-20" class="g-text g-aiAbs" style="top:48.1802%;left:60.7888%;width:38%;">
			<p>The Lao government&rsquo;s contribution, amounting to $840 million.</p>
		</div>
		<div id="g-ai1-21" class="g-text g-aiAbs g-aiPointText" style="top:48.8437%;margin-top:-17.3px;right:41.605%;width:50px;">
			<p class="g-pstyle3">30%</p>
		</div>
		<div id="g-ai1-22" class="g-text g-aiAbs" style="bottom:45.104%;left:4.6667%;width:93%;">
			<p>If the Lao government can&rsquo;t provide its share, China has agreed to provide a low-interest loan of $500 million.</p>
		</div>
		<div id="g-ai1-23" class="g-text g-aiAbs" style="top:55.4159%;left:22.1221%;width:73%;">
			<p>Revenue to be generated from a bauxite mine and three potash mines in Laos are to be used to secure the Chinese loan.</p>
		</div>
		<div id="g-ai1-24" class="g-text g-aiAbs" style="top:60.312%;left:22.1221%;width:72.6667%;">
			<p>The 20-year loan period will carry an annual interest rate of 3% with an interest-only period, i.e. no repayment of the principle, for the first five years.</p>
		</div>
		<div id="g-ai1-25" class="g-textSubhed g-aiAbs" style="bottom:32.6527%;right:3.9988%;width:38.6667%;">
			<p class="g-pstyle4">Project details</p>
		</div>
		<div id="g-ai1-26" class="g-text g-aiAbs" style="bottom:28.4229%;left:25.4554%;width:72.3333%;">
			<p class="g-pstyle5">Chairman of Laos-China Railway Company: <span class="g-cstyle0">Huang Difu</span>, general manager of China Railway International Co., Ltd</p>
		</div>
		<div id="g-ai1-27" class="g-text g-aiAbs" style="top:73.7002%;left:24.6667%;width:71.3333%;">
			<p class="g-pstyle5">Six Chinese contractors are carrying out construction in the six segments along the entire track. More than 50,000 mostly Chinese workers will be hired to build the project.</p>
		</div>
		<div id="g-ai1-28" class="g-text g-aiAbs" style="top:78.2062%;left:43.4554%;width:52.6667%;">
			<p class="g-pstyle5">The planned single-track, standard- gauge rail network would have 33 stations, of which 21 would be operational initially.</p>
		</div>
		<div id="g-ai1-29" class="g-text g-aiAbs" style="top:84.662%;left:31.3333%;width:65%;">
			<p class="g-pstyle5">There will be 72 tunnels with a total length of 183.9 km, representing 43 percent of the project&rsquo;s total length.</p>
		</div>
		<div id="g-ai1-30" class="g-text g-aiAbs" style="top:92.5043%;left:45.6667%;width:50%;">
			<p class="g-pstyle5">The line will also have 170 bridges with the total length of 69.2 km, accounting for 15.8 percent of the project&rsquo;s total length.</p>
		</div>
	</div>

	<!-- Artboard: small -->
	<div id="g-rfa__laos-china-railroad-small" class="g-artboard g-artboard-v3" data-min-width='420'>
		<img id="g-ai2-0" class="g-aiImg" src="../img/graphic/rfa__laos-china-railroad-small.jpg"/>
		<div id="g-ai2-1" class="g-text g-aiAbs" style="top:1.1447%;left:5.6506%;width:87.619%;">
			<p><h3>The controversial Laos-China Railway</h3></p>
			<p>Work began on the controversial Laos-China railway as crews started clearing the right-of-way in the ancient Lao city of Luang Prabang late December 2016, but questions over who will get the bulk of the jobs building the U.S. $6 billion project and how much people displaced by the construction will get paid still linger.</p>
		</div>
		<div id="g-ai2-2" class="g-textCountry g-aiAbs g-aiPointText" style="top:11.5429%;margin-top:-8.1px;left:16.636%;margin-left:-4.4048%;width:39px;">
			<p class="g-pstyle0">CHINA</p>
		</div>
		<div id="g-ai2-3" class="g-text g-aiAbs" style="bottom:85.1648%;left:54.4602%;width:41.6667%;">
			<p>Four villas are being built to accommodate Chinese workers near the Xay district station.</p>
		</div>
		<div id="g-ai2-4" class="g-text g-aiAbs g-aiPointText" style="top:15.1796%;margin-top:-7.5px;left:20.2029%;margin-left:-3.5714%;width:32px;">
			<p class="g-pstyle1">Boten</p>
		</div>
		<div id="g-ai2-5" class="g-text g-aiAbs g-aiPointText" style="top:16.3048%;margin-top:-8.1px;left:23.9781%;width:81px;">
			<p>Luang Namtha</p>
		</div>
		<div id="g-ai2-6" class="g-text g-aiAbs g-aiPointText" style="top:16.4105%;margin-top:-8.4px;left:68.3296%;width:83px;">
			<p class="g-pstyle2">Major stations</p>
		</div>
		<div id="g-ai2-7" class="g-text g-aiAbs g-aiPointText" style="top:17.0832%;margin-top:-8.1px;right:54.7556%;width:61px;">
			<p class="g-pstyle3">Xay district</p>
		</div>
		<div id="g-ai2-8" class="g-text g-aiAbs g-aiPointText" style="top:19.1894%;margin-top:-8.1px;left:30.4067%;width:84px;">
			<p>Luang Prabang</p>
		</div>
		<div id="g-ai2-9" class="g-text g-aiAbs g-aiPointText" style="top:21.433%;margin-top:-8.1px;left:32.7877%;width:63px;">
			<p>Vang Vieng</p>
		</div>
		<div id="g-ai2-10" class="g-text g-aiAbs g-aiPointText" style="top:22.6235%;margin-top:-8.1px;left:32.7877%;width:57px;">
			<p>Phonhong</p>
		</div>
		<div id="g-ai2-11" class="g-text g-aiAbs g-aiPointText" style="top:24.6118%;margin-top:-7.5px;left:33.9577%;margin-left:-5.5952%;width:49px;">
			<p class="g-pstyle1">Vientiane</p>
		</div>
		<div id="g-ai2-12" class="g-textCountry g-aiAbs g-aiPointText" style="top:25.5997%;margin-top:-8.1px;left:69.9286%;margin-left:-3.8095%;width:34px;">
			<p class="g-pstyle0">LAOS</p>
		</div>
		<div id="g-ai2-13" class="g-textCountry g-aiAbs g-aiPointText" style="top:25.8744%;margin-top:-8.1px;left:34.8896%;margin-left:-7.0238%;width:61px;">
			<p class="g-pstyle0">THAILAND</p>
		</div>
		<div id="g-ai2-14" class="g-text g-aiAbs" style="bottom:69.7344%;left:7.3173%;width:49.5238%;">
			<p>The railway is expected to run 420-kilometer (261-mile) through the landlocked country.</p>
		</div>
		<div id="g-ai2-15" class="g-text g-aiAbs" style="top:30.9982%;left:7.3173%;width:49.5238%;">
			<p>The original construction plan called for work to begin in 2011 and be completed in 2015. However, due to political and financial setbacks, the plan now calls for the railway to be completed in 2021.</p>
		</div>
		<div id="g-ai2-16" class="g-textSubhed g-aiAbs g-aiPointText" style="top:41.6254%;margin-top:-8.1px;left:25.4067%;width:27px;">
			<p>Cost</p>
		</div>
		<div id="g-ai2-17" class="g-textSubhed g-aiAbs g-aiPointText" style="top:41.6254%;margin-top:-8.1px;left:59.9305%;width:61px;">
			<p>Investment</p>
		</div>
		<div id="g-ai2-18" class="g-text g-aiAbs" style="top:44.826%;left:54.6983%;width:17.381%;">
			<p>Private</p>
			<p>investors</p>
		</div>
		<div id="g-ai2-19" class="g-text g-aiAbs g-aiPointText" style="top:45.5729%;margin-top:-17.3px;right:46.5354%;width:50px;">
			<p class="g-pstyle4">60%</p>
		</div>
		<div id="g-ai2-20" class="g-text g-aiAbs" style="top:47.3901%;left:54.6983%;width:36.1905%;">
			<p>Laos and China </p>
			<p>contributions</p>
		</div>
		<div id="g-ai2-21" class="g-text g-aiAbs g-aiPointText" style="top:48.0912%;margin-top:-17.3px;right:46.5354%;width:50px;">
			<p class="g-pstyle4">40%</p>
		</div>
		<div id="g-ai2-22" class="g-text g-aiAbs g-aiPointText" style="top:50.8843%;margin-top:-17.3px;right:46.5354%;width:50px;">
			<p class="g-pstyle4">70%</p>
		</div>
		<div id="g-ai2-23" class="g-text g-aiAbs" style="top:50.2747%;left:54.6983%;width:36.1905%;">
			<p>The Chinese government&rsquo;s contribution</p>
		</div>
		<div id="g-ai2-24" class="g-text g-aiAbs" style="top:52.7015%;left:54.6983%;width:43.3333%;">
			<p>The Lao government&rsquo;s contribution, amounting to $840 million.</p>
		</div>
		<div id="g-ai2-25" class="g-text g-aiAbs g-aiPointText" style="top:53.4026%;margin-top:-17.3px;right:46.5354%;width:50px;">
			<p class="g-pstyle4">30%</p>
		</div>
		<div id="g-ai2-26" class="g-text g-aiAbs" style="bottom:40.293%;left:30.6506%;width:51.6667%;">
			<p>If the Lao government can&rsquo;t provide its share, China has agreed to provide a low-interest loan of $500 million.</p>
		</div>
		<div id="g-ai2-27" class="g-text g-aiAbs" style="top:61.4927%;left:15.6506%;width:35.4762%;">
			<p>Revenue to be generated from a bauxite mine and three potash mines in Laos are to be used to secure the Chinese loan.</p>
		</div>
		<div id="g-ai2-28" class="g-text g-aiAbs" style="top:61.4927%;left:66.3649%;width:31.6667%;">
			<p>The 20-year loan period will carry an annual interest rate of 3% with an interest-only period, i.e. no repayment of the principle, for the first five years.</p>
		</div>
		<div id="g-ai2-29" class="g-textSubhed g-aiAbs g-aiPointText" style="top:70.4715%;margin-top:-8.1px;left:59.4543%;width:77px;">
			<p class="g-pstyle5">Project details</p>
		</div>
		<div id="g-ai2-30" class="g-text g-aiAbs" style="bottom:24.13%;left:24.2221%;width:73.3333%;">
			<p class="g-pstyle5">Chairman of Laos-China Railway Company: <span class="g-cstyle0">Huang Difu</span>, general manager of China Railway International Co., Ltd</p>
		</div>
		<div id="g-ai2-31" class="g-text g-aiAbs" style="top:78.4341%;left:24.2221%;width:72.381%;">
			<p class="g-pstyle5">Six Chinese contractors are carrying out construction in the six segments along the entire track. More than 50,000 mostly Chinese workers will be hired to build the project.</p>
		</div>
		<div id="g-ai2-32" class="g-text g-aiAbs" style="top:83.6538%;left:42.3173%;width:55%;">
			<p class="g-pstyle5">The planned single-track, standard- gauge rail network would have 33 stations, of which 21 would be operational initially.</p>
		</div>
		<div id="g-ai2-33" class="g-text g-aiAbs" style="top:89.5147%;left:30.5634%;width:66.6667%;">
			<p class="g-pstyle5">There will be 72 tunnels with a total length of 183.9 km, representing 43 percent of the project&rsquo;s total length.</p>
		</div>
		<div id="g-ai2-34" class="g-text g-aiAbs" style="bottom:1.6941%;left:46.0396%;width:51.1905%;">
			<p class="g-pstyle5">The line will also have 170 bridges with the total length of 69.2 km, accounting for 15.8 percent of the project&rsquo;s total length.</p>
		</div>
	</div>

</div>

<!-- End ai2html - 2018-04-24 14:21 -->
					</div>
				</div>

		</div>

	</div>

<p class="bbg__credit">Minh-Ha Le | RFA</p>

