<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{% include head.html %}

	<body class="bbg__project english">

{% if site.development_mode %}

		<div id="siteWarning" style="position: fixed; bottom: 0; width: 100%; padding: 10px; text-align: center; background-color: #900; color: #FFF; z-index: 9999999">
		  {{ site.development_warning }}  <br/><span style="color: orange; font-weight: bold;">Please don't share it outside of the project team. xxx</span>
		</div>

{% elsif %}

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W72N2D"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

{% endif %}


		{% include header.html %}

			{{ content }}


	<script type="text/javascript">
		var mode = "editing";//"editing"; //"production";
	</script>

	</body>

</html>
