---
layout: default
---

	<style type="text/css">
		
		.bbg__project a {
			color: #000;
			text-decoration: none;
		}

		.bbg__navbar__tab a {
			color: #999;
		}

		.balance-text {
			text-align: center;
		}


	</style>

	<script src="js/scripts.js"></script>

		<section class="bbg__section__full-width bbg__section__title">

			<div class="bbg__title-card__shadow"></div>

			<video playsinline autoplay muted loop id="videoCard" poster="img/train-poster.jpg">
				<source type="video/mp4">
				Your browser does not support the video tag.
			</video>

			<div class="bbg__grid__full bbg__hide-mobile" style="position: absolute; bottom: 0; width: 100%; z-index: 9999; margin-bottom: 40px; max-width: none; ">
				<div class="bbg__title-card" style="text-align: center; left: 0; width: 100%;">
					<div style="max-width: 1080px; margin: 0 auto;">
						
						<h1 class="bbg__title" style="text-shadow: 1px 0px 5px rgba(200, 200, 200, .9);">The<br/> Dragon’s Reach</h1>
						<h2 class="bbg__title__subhed balance-text" style="text-shadow: 1px 1px 0px rgba(250, 250, 250, .9);">{{ site.title_tagline | smartify}}</h2>
					</div>
				</div>
			</div>

			<div style="position: absolute; bottom: 0; width: 100%; z-index: 9999;" >
				<div style="max-width: 1080px; margin: 0 auto;">
					<a href="#intro" id="introLink">
						<div class="bbg__nav__down-arrow"><span class="arrow"></span></div>
					</a>
				</div>
			</div>

		</section>

		<div class="" style="background-color: #FFF; width: 100%; padding-right: 10px; position: relative; z-index: 99999;">
			<p class="bbg__credit" style="color: #CCC; font-size: 13px; margin: 0; padding: 5px 5px 0 0;"><span class="bbg__hide-mobile">Illustration by</span> Brian Williamson | VOA</p>
		</div>

		<section class="bbg__section__full-width bbg__show-mobile" style=" box-shadow: 0 0 2px rgba(20,20,20,0); position: relative; z-index: 99999999; background-color: #FFF; ">

			<div class="bbg__grid__full " style="margin: 0 auto; max-width: none; padding-top: 40px;">
				<div class="bbg__title-card bbg__show-mobile" style="text-align: center; left: 0; width: 100%; position: relative;">
					<div style="max-width: 1080px; margin: 0 auto;">
						
						<h1 class="bbg__title" style="text-shadow: none;">The<br/> Dragon’s Reach</h1>
						<h2 class="bbg__title__subhed balance-text">{{ site.title_tagline | smartify}}</h2>
					</div>
				</div>
			</div>
		</section>

		<section id="intro" class="bbg__section__full-width">

			<div class="bbg__grid__full" style="margin-bottom: 0;">
				<div class="bbg__grid">
					<h3 class="bbg__graphic__intro">{{ site.description | smartify }}</h3>
				</div>
			</div>
		</section>






		<section id="voa" class="bbg__section__full-width border-bottom" style="border-top: 1px dotted #CCC; margin-top: 20px;">
			<div class="bbg__grid__full">

				<div class="bbg__agency__container homepage"><h3 class="bbg__kicker bbg__agency bbg__agency--voa">Africa</h3></div>


				<div class="bbg__grid">

{% include section-featured-1-3.html
	titleFeatured="As China’s Investment Strategies Shift, African Partners Face Risks"
	featuredCategory="voa"
%}

					</div>

				</div>

			</div>
		</section>





		<section id="rferl" class="bbg__section__full-width border-bottom" style="">
			<div class="bbg__grid__full ">

				<div class="bbg__grid " style="">

						<div class="bbg__grid__full">
							<div class="bbg__agency__container homepage"><h3 class="bbg__kicker bbg__agency bbg__agency--rferl">Eurasia</h3></div>

							<a href="rferl/kazakhstan-china-opens-dry-port-gateway">
								<div style="position: relative;">
									<img src="img/rferl__kazakhstan-china-opens-dry-port-gateway.jpg" style="position: relative; z-index: 9990; display:block;" />
									<div class="bbg__featured-image__shadow"/></div>
									<div class="bbg__title-on-photo">
										<h2 class="bbg__featured__headline balance-text">Far in the desert, China opens a new gateway to the West</h2>

										<p>The largest special economic zone in the former Soviet Union is emerging on the Kazakh-Chinese border — marred by protests, delays and corruption allegations.</p>

										<p class="bbg__story__byline">By Ray Furlong and Roman Kupka | Current Time | RFE/RL</p>
									</div>

								</div>								
							</a>

						</div>

				</div>

			</div>
		</section>




		<section id="rfa" class="bbg__section__full-width ">
			<div class="bbg__grid__full">

				<div class="bbg__grid">

					<div class="bbg__agency__container homepage"><h3 class="bbg__kicker bbg__agency bbg__agency--rfa">Southeast Asia</h3></div>

					<a href="rfa/lao-chinas-fast-track-to-influence"><h2 class="bbg__featured__headline balance-text">A Fast Track to Influence In Laos</h2></a>

					<div class="bbg__grid__full">

						<div class="bbg__grid__two-thirds"> 

							<div class="bbg__story__main">

								<a href="rfa/lao-chinas-fast-track-to-influence">
									<img src="img/lao-chinese-railway-in-oudomxay--medium.jpg" style="width: 100%; max-width: 100%;"/>
								</a>
								<p>The railway – which will eventually run from Kunming in southwestern China through Laos, Thailand, and Malaysia to Singapore – is a key component of China’s signature global infrastructure plan. <span class="bbg__story__byline">(RFA)</span></p>

							</div>

						</div><!--
						--><div class="bbg__grid__one-third" style="margin-right: 0;">
							<div class="bbg__story__secondary" style="">
								<a href="rfa/lao-compensation-plans-for-rail-project-finalized">
									<img src="img/lao-compensation-plans-for-rail-project-finalized--small.jpg" />
									<h3>Compensation for Lao Rail Project Finalized</h3>
									<p>Project owners must guarantee that living conditions for those displaced will be as good as, or better than, they were before the project began.</p>
									<p class="bbg__story__byline">By Richard Finney | RFA</p>
								</a>
							</div>



							<div class="bbg__story__tertiaryx" style="margin-top: 20px;">
								<a href="rfa/lao-central-government-in-laos-takes-over-railway-compensation-operations"><h5>Central Government In Laos Takes Over Railway Compensation  <span class="bbg__story__byline" style="font-weight: normal;">(RFA)</span></h5></a>
							</div>


							<div class="bbg__story__tertiaryx" style="margin-top: 20px;">
								<a href="rfa/lao-high-speed-rail-project-will-force-thousands-of-families-to-relocate"><h5>High-speed Rail Project Will Force Thousands of Families to Relocate  <span class="bbg__story__byline" style="font-weight: normal;">(RFA)</span></h5></a>
							</div>
							<div class="bbg__story__tertiaryx" style="margin-top: 20px;">
								<a href="rfa/lao-villagers-barred-from-asking-questions-on-railway-project"><h5>Lao Villagers Barred From Asking Questions on Railway Project  <span class="bbg__story__byline" style="font-weight: normal;">(RFA)</span></h5></a>
							</div>

						</div>

					</div>



				</div>

			</div>

		</section>











		<section id="martinoticias" class="bbg__section__full-width border-bottom shadow-top">

			<div class="bbg__grid__full">

				<div class="bbg__grid">

					<div class="bbg__grid__full">

						<div class="bbg__agency__container homepage"><h3 class="bbg__kicker bbg__agency bbg__agency--ocb">Latin America</h3></div>

						<a href="martí/cuba-chinese-investments">

							<div style="position: relative;">
								<img src="img/ocb__bus.jpg" style="position: relative; z-index: 9990; display:block; border-left: 1px solid #CCC; border-top: 1px solid #CCC;" />
								<div class="bbg__featured-image__shadow"/></div>

								<div class="bbg__title-on-photo">

									<h2 class="bbg__featured__headline--small">The Push into Cuba: <br/>Telcom, trade, solar, biotech</h2>
									<p>China is now Cuba’s biggest trading partner and has launched a major development at the Port of Mariel to nurture investment in biotech and other enterprises. Cubans say even more Chinese investment is needed, especially for Chinese tourism.</p>

									<p class="bbg__story__byline">Grupo ADN Cuba | Current Time | Martí Noticias</p>

									
								</div>
							</div>

						</a>


					</div>

				</div>

			</div>

		</section>




		<section id="alhurra" class="bbg__section__full-width">

			<div class="bbg__grid__full">

				<div class="bbg__agency__container homepage" style="margin-top: 0;"><h3 class="bbg__kicker bbg__agency bbg__agency--mbn">Middle East and North Africa</h3></div>

				<div class="bbg__grid">
					<div class="bbg__story__stripped">
						<div class="bbg__story__stripped__title">
							<h3 class="bbg__label">Sudan</h3>
						</div>
						<div class="bbg__story__stripped__photo">
							<a href="alhurra/sudan-chinese-investments"><img src="img/mbn__sudan--medium.jpg" class="" /></a>
						</div><!--
						--><div class="bbg__story__stripped__text" style="margin-right: 0;">
							<a href="alhurra/sudan-chinese-investments"><h3>Shrugging off debt, Sudan woos China investment beyond oil</h3></a>
							<p>China seeks to boost strategic partnership between the two countries in the fields of agricultural and infrastructural investments.</p>
							<p class="bbg__story__byline">By Abdul B. Awad and Osama A. Mohamed | Alhurra</p>
						</div>
					</div><!--

					--><div class="bbg__story__stripped">
						<div class="bbg__story__stripped__title">
							<h3 class="bbg__label">Algeria</h3>
							
						</div>
						<div class="bbg__story__stripped__photo">
							<a href="alhurra/algeria-chinese-investments"><img src="img/mbn__algeria--medium.jpg" /></a>
						</div><!--
						--><div class="bbg__story__stripped__text" style="margin-right: 0;">
							<a href="alhurra/algeria-chinese-investments"><h3>Algeria turns to Chinese construction to fill housing demand</h3></a>
							<p>Construction companies moved to secure major construction contracts in Algeria, overtaking France as Algeria’s largest source of expertise and imports.</p>
							<p class="bbg__story__byline">By Ahmed Elhadidi and Abdullah Ibrahim Hamad  | Alhurra</p>
						</div>
					</div><!--

					--><div class="bbg__story__stripped">
						<div class="bbg__story__stripped__title">
						<a href="alhurra/uae-chinese-investments"><h3 class="bbg__label">United Arab Emirates</h3></a>
						</div>
						<div class="bbg__story__stripped__photo">
							<a href="alhurra/uae-chinese-investments"><img src="img/mbn__uae--medium.jpg" /></a>
						</div><!--
						--><div class="bbg__story__stripped__text" style="margin-right: 0;">
							<a href="alhurra/uae-chinese-investments"><h3>Thousands of Chinese firms now populate Emirates</h3></a>
							<p>China seeks to integrate the UAE into China’s New Maritime Silk Road project to boost investment and create a new platform.</p>
							<p class="bbg__story__byline">By Mostafa Soukal and Sahar Ismail  | Alhurra</p>
						</div>
					</div>

				</div>


				
			</div>

		</section>





</div>


{% include footer.html %}